<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/api/stylesheets/styles.css">
    <link rel="stylesheet" href="/api/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/api/"><img src="images/logo.png" alt="scientist" border="0" /></a>

        <ul class="view">
          <li><a href="/api/oauth2">OAuth2 Authentication</a></li>
          <li><a href="/api/json">HTTP/JSON API</a></li>
          <ul>
            <li><a href="/api/json#location">Location</a></li>
            <li><a href="/api/json#authentication">Authentication</a></li>
            <li><a href="/api/json#vendors">Vendors</a></li>
            <li><a href="/api/json#services">Services</a></li>
          </ul>
          <li><h3>Offical SDKs</h3></li>
          <ul>
            <li><a href="https://github.com/assaydepot/assaydepot-rb">Ruby</a></li>
            <li><a href="https://github.com/assaydepot/assaydepot-java">Java</a></li>
            <li><a href="https://github.com/assaydepot/assaydepot-php">PHP</a></li>
          </ul>
          <li><h3>Sample Applications</h3></li>
          <ul>
            <li><a href="https://github.com/assaydepot/assaydepot-java-example">Java Example</a></li>
          </ul>
        </ul>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/assaydepot">assaydepot</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/api/javascripts/scale.fix.js"></script>
  </body>
</html>
